@sitecore/contenthub-one-api:registry=https://npm.sitecore.com/resources/
@sitecore/contenthub-one-sdk:registry=https://npm.sitecore.com/resources/
@sitecore:registry=https://npm.sitecore.com/resources/